body {
  background: #ffe6f0;
  font-family: Arial;
}

.container {
  background: white;
  max-width: 900px;
  margin: auto;
  padding: 20px;
  border-radius: 15px;
}

h1 {
  text-align: center;
  color: #d63384;
}

input, select, button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
}

button {
  background: #d63384;
  color: white;
  border: none;
  border-radius: 8px;
}

.mesAno {
  display: flex;
  gap: 10px;
}

table {
  width: 100%;
  margin-top: 15px;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
